# =========================
# PostgreSQL (RDBMS config)
# =========================

# Port exposed on host machine
POSTGRES_PORT=5432

# Default admin user for Postgres
POSTGRES_USER=postgres

# Password for the Postgres user
POSTGRES_PASSWORD=postgres

# =========================
# Redis (config)
# =========================

# Port exposed on host machine
REDIS_PORT=6379

# Password to Redis
REDIS_PASSWORD=your_secure_password

# Stripe secret
STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxx

# kafka
KAFKA_HOST=localhost
KAFKA_PORT=29092
KAFKA_CLUSTER_ID=xxxx
