GRPC_PORT=50055

KAFKA_HOST=localhost
KAFKA_PORT=29092
KAFKA_GROUP_ID=statistics-service

DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/stats_db

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=your_secure_password

SERVICE_KEY=SUyH7MZq03m5aMWDNlDAUUF2pLkWERhOQrzwD-V8ThvbDhwbblzctiZ3uOH2G9yuNP1iF2XqMHWnV3LjMvoLimFTExGz86Q90BKxIrFInvu25ksiSGW1Lbaaa4oofjD
