OPENROUTER_API_KEY=sk-or-v1-

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/assistant_db

SERVICE_KEY=SUyH7MZq03m5aMWDNlDAUUF2pLkWERhOQrzwD-V8ThvbDhwbblzctiZ3uOH2G9yuNP1iF2XqMHWnV3LjMvoLimFTExGz86Q90BKxIrFInvu25ksiSGW1Lbaaa4oofjD

CONTENT_SERVICE_GRPC_URL=localhost:50054

KAFKA_URL=localhost:29092
