SERVICE_KEY=SUyH7MZq03m5aMWDNlDAUUF2pLkWERhOQrzwD-V8ThvbDhwbblzctiZ3uOH2G9yuNP1iF2XqMHWnV3LjMvoLimFTExGz86Q90BKxIrFInvu25ksiSGW1Lbaaa4oofjD

CONTENT_SERVICE_GRPC_URL=localhost:50054

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=your_secure_password

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/exam_db

KAFKA_URL=localhost:9092
