SERVICE_KEY=SUyH7MZq03m5aMWDNlDAUUF2pLkWERhOQrzwD-V8ThvbDhwbblzctiZ3uOH2G9yuNP1iF2XqMHWnV3LjMvoLimFTExGz86Q90BKxIrFInvu25ksiSGW1Lbaaa4oofjD
AUTH_SERVICE_GRPC_URL=localhost:50051
EXAM_SERVICE_GRPC_URL=localhost:50052
PAYMENT_SERVICE_GRPC_URL=localhost:50053
CONTENT_SERVICE_GRPC_URL=localhost:50054
STATS_SERVICE_GRPC_URL=localhost:50055
ASSISTANT_SERVICE_GRPC_URL=localhost:50056
PORT=5000

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=your_secure_password
