DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/auth_db

GOOGLE_CLIENT_ID=fake.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-fake_value_123456
GOOGLE_REDIRECT_URI=http://localhost:5000/auth/google/callback

SERVICE_KEY=SUyH7MZq03m5aMWDNlDAUUF2pLkWERhOQrzwD-V8ThvbDhwbblzctiZ3uOH2G9yuNP1iF2XqMHWnV3LjMvoLimFTExGz86Q90BKxIrFInvu25ksiSGW1Lbaaa4oofjD
